


body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

nav{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

nav div{
    width: 220px;
    display: flex;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
    justify-content: space-evenly;
}

nav a{
    font-weight: bold;
    font-family: sans-serif;
    color: white;
}

li{
    list-style: none;
}

footer{
    width: 100%;
    background-color:   black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

footer div{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
}

footer li{
    margin: 2px;
}

.footerA{
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}


.myButton{
    background-color: green;
    margin: auto;
    width: 50%;
    height: 50px;
    border: 3px solid green;
    padding: 10px;
}

.bodyDiv{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 90;
    

}

.topicsDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}

.topicsDiv a{
    border: 3px solid black;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: greu;
    transition: 0.3s;
    text-align: center;
    width: 601px;

}

a h1,h3{
    color: black;
    font-family: sans-serif;
}


.topicsDiv a:hover{
    box-shadow:5px 5px 5px 5px grey;
}

.h1topics{
    margin: 0 auto;
}

.h1topicsdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.social_providers_form{
    border: 3px solid black;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    box-shadow: 10px 10px grey;
    border-radius: 5px;
}


.githubDiv{
    background-color: black;
    width: 100%;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    height: 30px;
}

.socialLink{
    padding: 5px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

.socialLinkTransform{
    transition: 0.3s;
    margin-top: 10px;
}

.socialLinkTransform:hover{
    box-shadow: 5px 10px grey;
}

.googlehubDiv{
    background-color: rgb(169, 47, 47);
    width: 100%;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    height: 30px;
}