body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

nav {
    background-color: purple;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

nav div {
    width: 220px;
    display: flex;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
    justify-content: space-evenly;
}

nav a {
    font-weight: bold;
    font-family: sans-serif;
    color: white;
}

li {
    list-style: none;
}

footer {
    padding: 10px;
    height: 90px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



footer div {
    display: flex;
    flex-wrap: wrap;
    margin: 3px;
    justify-content: space-between;
}

footer li {
    margin: 2px;
}

.footerA {
    color: black;
    font-family: sans-serif;
    margin-left: 3px;
    margin-right: 3px;
}

a {
    text-decoration: none;
}


.button {
    border: 3px solid black;
    border-radius: 3px;
    background-color: purple;
    transition: 0.3s;
    color: white;
    font-family: sans-serif;
}

.button:hover {
    background-color: white;
    color: purple;
    font-family: sans-serif;
}



.bodyDiv {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 90;



}

.bodyDivLogin {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 90;
    justify-content: center;
    align-items: center;
}

.topicsDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}

.topicsDiv a {
    border: 3px solid purple;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: greu;
    transition: 0.3s;
    text-align: center;
    width: 601px;
    box-shadow: 3px 3px 3px 3px black;

}

a h1,
h3 {
    color: black;
    font-family: sans-serif;
}


.topicsDiv a:hover {
    box-shadow: 5px 5px 5px 5px grey;
}

.h1topics {
    margin: 0 auto;
}

.h1topicsdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.social_providers_form {
    border: 3px solid purple;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    box-shadow: 10px 10px rgb(63, 6, 63);
    border-radius: 5px;
}


.githubDiv {
    background-color: black;
    width: 100%;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    height: 30px;
}

.socialLink {
    padding: 5px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

.socialLinkTransform {
    transition: 0.3s;
    margin-top: 10px;
}

.socialLinkTransform:hover {
    box-shadow: 5px 10px grey;
}

.googlehubDiv {
    background-color: rgb(169, 47, 47);
    width: 100%;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    height: 30px;
}

.firstDivHome {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 600px;
}

.firstDivHome h1 {
    font-family: sans-serif;
    font-size: 40px;
}

.firstButton {
    width: 200px;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.secondDivHome {
    background-color: rgb(236, 231, 231);
}

.firstLiHome {
    border: 1px solid white;
    background-color: white;
    width: 80%;
    padding: 10px;
    margin: 10px;

}

.firstLiHome h1,
h6 {
    margin: 0px;
    padding: 0;

}

.featuresDiv {
    flex-grow: 1;
    margin: 10px;
    width: 90%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.featuresDiv div {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 300px;
    height: 200px;
    padding: 5px;
    align-items: center;
}

.progressHome {
    width: 80%;
    background-color: white;
    box-shadow: 10px 10px 10px 10px lightgray;
    border-radius: 5px;
    display: flex;
    padding: 10px;
    height: 400px;
}

.progressHome div {
    flex-grow: 1;
    margin: 5px;
}

h1,
h2,
h3,
h4,
h6,
h5 {
    font-family: sans-serif;
}

hr {
    width: 90%;
    height: 1px;
    background-color: purple;
}

.firstDivHomehr {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 400px;
}

.firstDivHomehrSmaller {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstDivHomehrSmaller h4 {
    font-weight: lighter;
}

.topicsButton {
    padding: 10px;
    border: 3px solid purple;
    width: 30%;
}

.loginDiv {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
}

.divWithinLoginDiv {
    border: 3px solid black;
    border-radius: 5px;
    background-color: white;
    width: 30%;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 10px 10px rgb(63, 6, 63);
}

.confirmOrCancelDiv {

    width: 400px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.youAreAboutToLoginDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cancelButton {
    background-color: red;
    border: 3px solid black;
    width: 150px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cancelButton:hover {
    background-color: white;
}

.acceptButton {
    width: 150px;
    height: 57px;
    padding: 5px;

}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

.pricing {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0px rgba(0, 0, 0, 0.1);
    margin-left: 50px;
}

.pricing-card-heading {
    padding: 10px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.pricing-card-heading-free {
    background-color: #f8fafe;
    color: #000;
}

.pricing-card-heading-lite {
    background: linear-gradient(90deg,
            rgba(194, 209, 255, 1) 0%,
            rgba(179, 114, 254, 1) 100%);
    color: #fff;
}

.pricing-card-heading-pro {
    background: linear-gradient(90deg,
            rgba(255, 177, 195, 1) 0%,
            rgba(255, 203, 112, 1) 100%);
    color: #fff;
}

.pricing-card-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.pricing-card-list-item {
    position: relative;
}

.icon-yes::before {
    position: absolute;
    left: -30px;
    top: -5px;
    display: inline-block;
    content: "";
    width: 20px;
    height: 25px;
    background: url("https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/png/check-4x.png") no-repeat;
    background-size: 15px;
    background-position: bottom center;
    filter: invert(75%) sepia(27%) saturate(459%) hue-rotate(76deg) brightness(90%) contrast(88%);
}

.icon-no::before {
    position: absolute;
    left: -27px;
    top: -5px;
    display: inline-block;
    content: "";
    width: 20px;
    height: 25px;
    background: url("https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/png/plus-4x.png") no-repeat;
    background-size: 15px;
    background-position: bottom center;
    filter: invert(45%) sepia(88%) saturate(908%) hue-rotate(312deg) brightness(90%) contrast(86%);
    transform: rotate(45deg);
}

.icon-no {
    color: #999;
    text-decoration: line-through;
}

.pricing-card-btn {
    width: 70%;
    text-align: center;
    font-size: 16px;
    padding: 15px;
    margin-left: 7.5%;
    border: 1px solid #27264b;
    border-radius: 5px;
    background-color: #fff;
    color: #27264b;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 250ms ease-in-out;
}

.pricing-card-btn:hover {
    background-color: rgb(228, 228, 240);
}

.pricing-card-highlight .pricing-card-btn {
    border: none;
    color: #fff;
    background-color: #27264b;
}

.pricing-card-highlight .pricing-card-btn:hover {
    background-color: #9390db;
}

.pricing-card-price {
    text-align: center;
    font-size: 28px;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 15px;
}

.pricing-card-price-text {
    font-weight: 400;
    font-size: 20px;
}