


body{
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    padding-bottom: 2.5rem ;
}

nav{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

nav div{
    width: 220px;
    display: flex;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
    justify-content: space-evenly;
}

nav a{
    font-weight: bold;
    font-family: sans-serif;
    color: white;
}

li{
    list-style: none;
}

footer{
    position: absolute;
    align-items: flex-end;
    bottom: 0;
    width: 100%;
    background-color:   black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

footer div{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
}

footer li{
    margin: 2px;
}

.footerA{
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}


.myButton{
    background-color: green;
    margin: auto;
    width: 50%;
    height: 50px;
    border: 3px solid green;
    padding: 10px;
}

.bodyDiv{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 90;
    

}

.topicsDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}

.topicsDiv a{
    border: 3px solid black;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: greu;
    transition: 0.3s;
    text-align: center;

}
.topicsDiv a:hover{
    background-color: green;
}

.h1topics{
    margin: 0 auto;
}

.h1topicsdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}