{%extends 'base/index.html'%}
{%block content%} 

<div class="ArraysAndDateStructuresDifficulty" >
    <div>
           <h4>#</h4>
    <h4>Question</h4>
    <h4>Difficulty</h4> 
    </div>

</div>
<div  class="ArraysAndDateStructures" >
    <a href="https://leetcode.com/problems/min-cost-to-connect-all-points/">
        <h6>1</h6>
        <h6>Min Cost to Connect All Points</h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/network-delay-time/">
        <h6>2</h6>
        <h6>Network Delay Time</h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/cheapest-flights-within-k-stops/">
        <h6>3</h6>
        <h6>Cheapest Flights Within K Stops</h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/reconstruct-itinerary/">
        <h6>3</h6>
        <h6>Reconstruct Itinerary</h6>
        <h6 class="hard" >hard</h6>
    </a>
    <a href="https://leetcode.com/problems/swim-in-rising-water/">
        <h6>4</h6>
        <h6>Swim In Rising Water</h6>
        <h6 class="hard" >Hard</h6>
    </a>

</div>


{%endblock content%}