{%extends 'base/index.html'%}
{%block content%} 

<div class="ArraysAndDateStructuresDifficulty" >
    <div>
           <h4>#</h4>
    <h4>Question</h4>
    <h4>Difficulty</h4> 
    </div>

</div>
<div  class="ArraysAndDateStructures" >
    <a href="https://leetcode.com/problems/contains-duplicate/">
        <h6>1</h6>
        <h6>Contains Duplicate</h6>
        <h6  class="easy" >Easy</h6>
    </a>
    <a href="https://leetcode.com/problems/valid-anagram/">
        <h6>1</h6>
        <h6>Valid Anagram</h6>
        <h6  class="easy" >Easy</h6>
    </a>
    <a href="https://leetcode.com/problems/two-sum/">
        <h6>2</h6>
        <h6>Two Sum</h6>
        <h6  class="easy" >Easy</h6>
    </a>
    <a href="https://leetcode.com/problems/group-anagrams/">
        <h6>3</h6>
        <h6>Group Anagrams</h6>
        <h6  class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/top-k-frequent-elements/">
        <h6>4</h6>
        <h6>Top K Frequent Elements</h6>
        <h6  class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/product-of-array-except-self/">
        <h6>5</h6>
        <h6>Product of Array Except Self</h6>
        <h6  class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/valid-sudoku/">
        <h6>6</h6>
        <h6>Valid Sudoku</h6>
        <h6  class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/longest-consecutive-sequence/">
        <h6>7</h6>
        <h6>Longest Consecutive Sequence</h6>
        <h6  class="medium" >Medium</h6>
    </a>

</div>


{%endblock content%}