{%extends 'base/index.html'%}
{%block content%} 

<div class="ArraysAndDateStructuresDifficulty" >
    <div>
           <h4>#</h4>
    <h4>Question</h4>
    <h4>Difficulty</h4> 
    </div>

</div>
<div  class="ArraysAndDateStructures" >
    <a href="https://leetcode.com/problems/subsets/">
        <h6>1</h6>
        <h6>      Subsets       </h6>
        <h6   class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/combination-sum/">
        <h6>2</h6>
        <h6>     Combination Sum        </h6>
        <h6   class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/permutations/">
        <h6>3</h6>
        <h6>     Permutations        </h6>
        <h6   class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/subsets-ii/">
        <h6>4</h6>
        <h6>       Subsets II      </h6>
        <h6   class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/combination-sum-ii/">
        <h6>5</h6>
        <h6>     Combination Sum II        </h6>
        <h6   class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/word-search/">
        <h6>6</h6>
        <h6>     Word Search        </h6>
        <h6   class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/palindrome-partitioning/">
        <h6>7</h6>
        <h6>      Palindrome Partitioning       </h6>
        <h6   class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/letter-combinations-of-a-phone-number/">
        <h6>8</h6>
        <h6>    Letter Combinations of a Phone Number         </h6>
        <h6   class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/n-queens/">
        <h6>9</h6>
        <h6>      N Queens       </h6>
        <h6   class="hard" >Hard</h6>
    </a>
</div>


{%endblock content%}