{%extends 'base/index.html'%}
{%block content%} 

<div class="ArraysAndDateStructuresDifficulty" >
    <div>
           <h4>#</h4>
    <h4>Question</h4>
    <h4>Difficulty</h4> 
    </div>

</div>
<div  class="ArraysAndDateStructures" >
    <a href="https://leetcode.com/problems/single-number/">
        <h6>1</h6>
        <h6>      Single Number    </h6>
        <h6 class="easy" >Easy</h6>
    </a>
    <a href="https://leetcode.com/problems/number-of-1-bits/">
        <h6>2</h6>
        <h6>      Number of 1 Bits    </h6>
        <h6 class="easy" >Easy</h6>
    </a>
    <a href="https://leetcode.com/problems/counting-bits/">
        <h6>3</h6>
        <h6>    Counting Bits      </h6>
        <h6 class="easy" >Easy</h6>
    </a>
    <a href="https://leetcode.com/problems/reverse-bits/">
        <h6>4</h6>
        <h6>   Reverse Bits       </h6>
        <h6 class="easy" >Easy</h6>
    </a>
    <a href="https://leetcode.com/problems/missing-number/">
        <h6>5</h6>
        <h6>     Missing Number     </h6>
        <h6 class="easy" >Easy</h6>
    </a>
    <a href="https://leetcode.com/problems/sum-of-two-integers/">
        <h6>6</h6>
        <h6>   Sum of Two Integers       </h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/reverse-integer/">
        <h6>7</h6>
        <h6>      Reverse Integer    </h6>
        <h6 class="medium" >Medium</h6>
    </a>
</div>


{%endblock content%}