{%extends 'base/index.html'%}
{%block content%} 

<div class="ArraysAndDateStructuresDifficulty" >
    <div>
           <h4>#</h4>
    <h4>Question</h4>
    <h4>Difficulty</h4> 
    </div>

</div>
<div  class="ArraysAndDateStructures" >
    <a href="https://leetcode.com/problems/climbing-stairs/">
        <h6>1</h6>
        <h6>  Climbing Stairs   </h6>
        <h6>Easy</h6>
    </a>
    <a href="https://leetcode.com/problems/min-cost-climbing-stairs/">
        <h6>2</h6>
        <h6>  Min Cost Climbing Stairs   </h6>
        <h6>Easy</h6>
    </a>
    <a href="https://leetcode.com/problems/house-robber/">
        <h6>3</h6>
        <h6>  House Robber   </h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/house-robber-ii/">
        <h6>4</h6>
        <h6>   House Robber II  </h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/longest-palindromic-substring/">
        <h6>5</h6>
        <h6>  Longest Palindromic Substring   </h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/palindromic-substrings/">
        <h6>6</h6>
        <h6>   Palindromic Substrings  </h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/decode-ways/">
        <h6>7</h6>
        <h6>   Decode Ways  </h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/coin-change/">
        <h6>8</h6>
        <h6>  Coin Change   </h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/maximum-product-subarray/">
        <h6>9</h6>
        <h6>  Maximum Product Subarray   </h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/word-break/">
        <h6>10</h6>
        <h6>  Word Break   </h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/longest-increasing-subsequence/">
        <h6>11</h6>
        <h6>  Longest Increasing Subsequence   </h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/partition-equal-subset-sum/">
        <h6>12</h6>
        <h6>   Partition Equal Subset Sum  </h6>
        <h6 class="medium" >Medium</h6>
    </a>
</div>


{%endblock content%}