{%extends 'base/index.html'%}
{%block content%} 

<div class="ArraysAndDateStructuresDifficulty" >
    <div>
           <h4>#</h4>
    <h4>Question</h4>
    <h4>Difficulty</h4> 
    </div>

</div>
<div  class="ArraysAndDateStructures" >
    <a href="https://leetcode.com/problems/maximum-subarray/">
        <h6>1</h6>
        <h6>Maximum Subarray</h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/jump-game/">
        <h6>2</h6>
        <h6>Jump Game</h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/jump-game-ii/">
        <h6>3</h6>
        <h6>Jump Game II	
        </h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/gas-station/">
        <h6>4</h6>
        <h6>Gas Station</h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/hand-of-straights/">
        <h6>5</h6>
        <h6>Hand of Straights</h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/merge-triplets-to-form-target-triplet/">
        <h6>6</h6>
        <h6>Merge Triplets to Form Target Triplet</h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/partition-labels/">
        <h6>7</h6>
        <h6>Partition Labels</h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/valid-parenthesis-string/">
        <h6>8</h6>
        <h6>Valid Parenthesis String</h6>
        <h6 class="medium" >Medium</h6>
    </a>

</div>


{%endblock content%}