{%extends 'base/index.html'%}
{%block content%} 

<div class="ArraysAndDateStructuresDifficulty" >
    <div>
           <h4>#</h4>
    <h4>Question</h4>
    <h4>Difficulty</h4> 
    </div>

</div>
<div  class="ArraysAndDateStructures" >
    <a href="https://leetcode.com/problems/kth-largest-element-in-a-stream/">
        <h6>1</h6>
        <h6>Kth Largest Element In a Stream</h6>
        <h6>Easy</h6>
    </a>
    <a href="https://leetcode.com/problems/last-stone-weight/">
        <h6>2</h6>
        <h6>Last Stone Weight</h6>
        <h6>Easy</h6>
    </a>
    <a href="https://leetcode.com/problems/k-closest-points-to-origin/">
        <h6>3</h6>
        <h6>K Closest Points to Origin</h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/kth-largest-element-in-an-array/">
        <h6>4</h6>
        <h6>Kth Largest Element In An Array</h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/task-scheduler/">
        <h6>5</h6>
        <h6>Task Scheduler</h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/design-twitter/">
        <h6>7</h6>
        <h6>Design Twitter</h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/find-median-from-data-stream/">
        <h6>8</h6>
        <h6>Find Median From Data Stream</h6>
        <h6 class="medium" >Medium</h6>
    </a>

</div>


{%endblock content%}