{%extends 'base/index.html'%} {%block content%}

<div class="firstDivHome" >
  <h1>
    Start Learning Data Structures & Algorithems

    
  </h1>
  <a href="{%url 'topics'%}" class="button firstButton">Get Started</a>
</div>
<div class="firstDivHome secondDivHome" >
  <h1>
    How it works

    
  </h1>
  <li class="firstLiHome" >
    <h3>
        1. Pick a question you would like to work on.
    </h3>

  </li>
  <li class="firstLiHome" >
    <h3>
        2. Write Some Code.
    </h3> 
  </li>
  <li class="firstLiHome" >
    <h3>
        3. Solve the problem.
    </h3> 
  </li>
  <li class="firstLiHome" >
    <h3>
        4. Check the Solution
    </h3> 
  </li>
</div>
<div class="firstDivHome" >
  <h1> Features </h1>
  <div class="featuresDiv">
    <div>
      <h3>70+ problems</h3>
      <h6>
         Users benefit from a diverse collection of over 70 problems covering various data structures and algorithms topics. This repository saves time by eliminating the need to search for problems elsewhere and ensures accessibility to a wide range of challenges.
      </h6>
    </div>
    <div>
      <h3>Constant Updates</h3>
      <h6>
        The platform undergoes continuous updates, ensuring a dynamic and evolving experience for users. Regular additions of new problems keep the content fresh and relevant, fostering engagement and learning.
      </h6>
    </div>
    <div>
      <h3>Saves Time/h3>
      <h6>
        With a comprehensive problem repository readily available, users can efficiently access and practice problems without the need for extensive searching. This time-saving feature enhances the learning experience and allows users to focus more on problem-solving.
      </h6>
    </div>
    <div>
      <h3>Solutions Display</h3>
      <h6>
        Each problem is accompanied by its solution, providing users with valuable insights and learning opportunities. Accessible solutions aid comprehension and reinforce understanding of various data structures and algorithms concepts.
      </h6>
    </div>
    <div>
      <h3>Difficulty Level Indication</h3>
      <h6>
        Problems are categorized based on their difficulty level, allowing users to gauge their proficiency and choose challenges that match their skill level. This feature ensures users can tailor their practice sessions to suit their learning needs and goals.
      </h6>
    </div>
    <div>
      <h3>Community Support</h3>
      <h6>
        The platform fosters a supportive community where users can seek help, share insights, and collaborate on problem-solving. This collaborative environment encourages learning through peer interaction and mutual support, enriching the overall learning experience.
      </h6>
    </div>


  </div>
</div>
<div class="firstDivHome" >
  <div class="progressHome" >
    <div>
      <h3>
          What is the aim of this website?
      </h3>
      <h4>
        The aim of the website is to serve as a valuable resource and learning platform for individuals seeking to improve their proficiency in data structures and algorithms. By providing a centralized repository of problems, the website aims to streamline the learning process and make it more accessible for users.

Whether users are preparing for technical interviews, studying for academic courses, or simply looking to enhance their problem-solving skills, the website aims to cater to their needs. Through a diverse collection of problems and a supportive community environment, the website endeavors to empower users to engage in effective practice, deepen their understanding of core concepts, and ultimately achieve their learning goals.


        
      </h4>
     
    </div>
 <a href="{%url 'topics'%}" class="button firstButton">Take Me There</a>
  </div>
</div>







{%endblock content%}
