{% load static %} {%load socialaccount%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'base/main.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <nav>
      <div class="navDiv">
        <li><a class="navA" href="{% url 'home'%}"> Home</a></li>
        <li><a class="navA" href="{% url 'topics'%}"> Topics</a></li>
        <li><a class="navA" href="{% url 'about'%}"> about</a></li>
      </div>
      <div class="navDiv">
        <li><a class="navA"> Profile</a></li>
        {%if not request.user.is_authenticated%}
        <li>
          <a class="navA" href="{% url 'social_providers_page'%}"> Login</a>
        </li>
        {%else%}
        <li><a class="navA" href="{%url 'account_logout'%}"> Logout</a></li>
        {%endif%}
      </div>
    </nav>
    <div class="bodyDiv">
      {%block content%} {%endblock content%}
    </div>

    <hr>
    <footer>
      <div>
        <a class="footerA" href="#" >Home</a>
        <a class="footerA" href="#" >Home</a>
        <a class="footerA" href="#" >Home</a>
        <a class="footerA" href="#" >Home</a>
        
      </div>
      <div>
      </div>
      <div class="socialLinks">
        <li><a class="footerA" href="#" > Linkedin</a></li>
        <li><a class="footerA" href="#" > Github</a></li>
        <li><a class="footerA" href="#" > Leetcode</a></li>
      </div>
      <div class="footer">
        <a class="footerA">&copy;All rights reserved. </a>
      </div>
    </footer>
  </body>
</html>
