{%extends 'base/index.html'%}
{%block content%} 

<div class="ArraysAndDateStructuresDifficulty" >
    <div>
           <h4>#</h4>
    <h4>Question</h4>
    <h4>Difficulty</h4> 
    </div>

</div>
<div  class="ArraysAndDateStructures" >
    <a href="https://leetcode.com/problems/insert-interval/">
        <h6>1</h6>
        <h6>Insert Interval</h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/merge-intervals/">
        <h6>2</h6>
        <h6>Merge Intervals</h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/non-overlapping-intervals/">
        <h6>3</h6>
        <h6>Non Overlapping Intervals</h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/minimum-interval-to-include-each-query/">
        <h6>4</h6>
        <h6>Minimum Interval to Include Each Query</h6>
        <h6 class="hard" >Hard</h6>
    </a>

</div>


{%endblock content%}