{%extends 'base/index.html'%}
{%block content%} 

<div class="ArraysAndDateStructuresDifficulty" >
    <div>
           <h4>#</h4>
    <h4>Question</h4>
    <h4>Difficulty</h4> 
    </div>

</div>
<div  class="ArraysAndDateStructures" >
    <a href="https://leetcode.com/problems/rotate-image/">
        <h6>1</h6>
        <h6>Rotate Image</h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/spiral-matrix/">
        <h6>2</h6>
        <h6>Spiral Matrix</h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/set-matrix-zeroes/">
        <h6>3</h6>
        <h6>Set Matrix Zeroes</h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/happy-number/">
        <h6>4</h6>
        <h6>Happy Number</h6>
        <h6>Easy</h6>
    </a>
    <a href="https://leetcode.com/problems/plus-one/">
        <h6>5</h6>
        <h6>Plus One</h6>
        <h6>Easy</h6>
    </a>
    <a href="https://leetcode.com/problems/powx-n/">
        <h6>6</h6>
        <h6>Pow(x, n)</h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/multiply-strings/">
        <h6>7</h6>
        <h6>Multiply Strings</h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/detect-squares/">
        <h6>8</h6>
        <h6>Detect Squares</h6>
        <h6 class="medium" >Medium</h6>
    </a>

</div>


{%endblock content%}