{%extends 'base/index.html'%}
{%block content%} 

<div class="ArraysAndDateStructuresDifficulty" >
    <div>
           <h4>#</h4>
    <h4>Question</h4>
    <h4>Difficulty</h4> 
    </div>

</div>
<div  class="ArraysAndDateStructures" >
    <a href="https://leetcode.com/problems/valid-parentheses/">
        <h6>1</h6>
        <h6>Valid Parentheses<h6>
        <h6 class="easy" >Easy</h6>
    </a>
    <a href="https://leetcode.com/problems/min-stack/">
        <h6>2</h6>
        <h6>Min Stack</h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/evaluate-reverse-polish-notation/">
        <h6>3</h6>
        <h6>   Evaluate Reverse Polish Notation   </h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/generate-parentheses/">
        <h6>4</h6>
        <h6>   Generate Parentheses   </h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/daily-temperatures/">
        <h6>5</h6>
        <h6>   Daily Temperatures   </h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/car-fleet/">
        <h6>6</h6>
        <h6>    Car Fleet  </h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/largest-rectangle-in-histogram/">
        <h6>7</h6>
        <h6>   Largest Rectangle In Histogram   </h6>
        <h6  class="hard">Hard</h6>
    </a>

</div>


{%endblock content%}