{%extends 'base/index.html'%}
{%block content%} 
<div class="h1topicsdiv">


<h1>
    Start pratice
</h1>
<div class="topicsDiv">

    <a href="#">
        <h1>Arrays and Strings</h1>

        <h3>A collection of items stored in a contingeous memory location</h3>

        <h3 > Get Started</h3>
    </a>
    <a href="#">
        <h1>Arrays and Strings</h1>

        <h3>A collection of items stored in a contingeous memory location</h3>

        <h3 > Get Started</h3>
    </a>
    <a href="#">
        <h1>Arrays and Strings</h1>

        <h3>A collection of items stored in a contingeous memory location</h3>

        <h3 > Get Started</h3>
    </a>
    <a href="#">
        <h1>Arrays and Strings</h1>

        <h3>A collection of items stored in a contingeous memory location</h3>

        <h3 > Get Started</h3>
    </a>
    <a href="#">
        <h1>Arrays and Strings</h1>

        <h3>A collection of items stored in a contingeous memory location</h3>

        <h3 > Get Started</h3>
    </a>
    <a href="#">
        <h1>Arrays and Strings</h1>

        <h3>A collection of items stored in a contingeous memory location</h3>

        <h3 > Get Started</h3>
    </a>
    <a href="#">
        <h1>Arrays and Strings</h1>

        <h3>A collection of items stored in a contingeous memory location</h3>

        <h3 > Get Started</h3>
    </a>
    <a href="#">
        <h1>Arrays and Strings</h1>

        <h3>A collection of items stored in a contingeous memory location</h3>

        <h3 > Get Started</h3>
    </a>

</div>
</div>

{%endblock content%}