{%extends 'base/index.html'%}
{%block content%} 
<div class="h1topicsdiv">


<h1>
    Start Practising Now
</h1>
<div class="topicsDiv">

    <a href="{%url 'ArraysAndDateStructures'%}">
        <h1>Arrays and Strings</h1>

        <h3>A collection of items stored in a contingeous memory location</h3>

        <h3 class="topicsButton"> Get Started</h3>
    </a>
    <a href="{%url 'twoPointers'%}">
        <h1>Two Pointers</h1>

        <h3>A collection of items stored in a contingeous memory location</h3>

        <h3 class="topicsButton"> Get Started</h3>
    </a>    <a href="{%url 'stacksAndQueues'%}">
        <h1>Stack</h1>

        <h3>A collection of itemss stored in a contingeous memory location</h3>

        <h3 class="topicsButton"> Get Started</h3>
    </a>    <a href="{%url 'binarySearch'%}">
        <h1>Binary Search</h1>

        <h3>A collection of items stored in a contingeous memory location</h3>

        <h3 class="topicsButton"> Get Started</h3>
    </a>    <a href="{%url 'slidingWindow'%}">
        <h1>Sliding Window</h1>

        <h3>A collection of items stored in a contingeous memory location</h3>

        <h3 class="topicsButton"> Get Started</h3>
    </a>    <a href="{%url 'linkedList'%}">
        <h1>Linked List</h1>

        <h3>A collection of items stored in a contingeous memory location</h3>

        <h3 class="topicsButton"> Get Started</h3>
    </a>    <a href="{%url 'trees'%}">
        <h1>Trees</h1>

        <h3>A collection of items stored in a contingeous memory location</h3>

        <h3 class="topicsButton"> Get Started</h3>
    </a>    <a href="{%url 'tries'%}">
        <h1>Tries</h1>

        <h3>A collection of items stored in a contingeous memory location</h3>

        <h3 class="topicsButton"> Get Started</h3>
    </a>
    </a>    <a href="{%url 'heaps'%}">
        <h1>Heap / Priority Queue</h1>

        <h3>A collection of items stored in a contingeous memory location</h3>

        <h3 class="topicsButton"> Get Started</h3>
    </a>
    </a>    <a href="{%url 'intervals'%}">
        <h1>Intervals</h1>

        <h3>A collection of items stored in a contingeous memory location</h3>

        <h3 class="topicsButton"> Get Started</h3>
    </a>
    </a>    <a href="{%url 'backtracking'%}">
        <h1>Backtracking</h1>

        <h3>A collection of items stored in a contingeous memory location</h3>

        <h3 class="topicsButton"> Get Started</h3>
    </a>
    </a>    <a href="{%url 'graphs'%}">
        <h1>Graphs</h1>

        <h3>A collection of items stored in a contingeous memory location</h3>

        <h3 class="topicsButton"> Get Started</h3>
    </a>
    </a>    <a href="{%url 'ddp'%}">
        <h1>1-D DP</h1>

        <h3>A collection of items stored in a contingeous memory location</h3>

        <h3 class="topicsButton"> Get Started</h3>
    </a>
    </a>    <a href="{%url 'ddptwo'%}">
        <h1>2-D DP</h1>

        <h3>A collection of items stored in a contingeous memory location</h3>

        <h3 class="topicsButton"> Get Started</h3>
    </a>
    </a>    <a href="{%url 'bitManipulation'%}">
        <h1>Bit Manipulation</h1>

        <h3>A collection of items stored in a contingeous memory location</h3>

        <h3 class="topicsButton"> Get Started</h3>
    </a>
    </a>    <a href="{%url 'mathAndgeometry'%}">
        <h1>Math & Geometry</h1>

        <h3>A collection of items stored in a contingeous memory location</h3>

        <h3 class="topicsButton"> Get Started</h3>
    </a>

</div>
</div>

{%endblock content%}