{%extends 'base/index.html'%}
{%block content%} 

<div class="ArraysAndDateStructuresDifficulty" >
    <div>
           <h4>#</h4>
    <h4>Question</h4>
    <h4>Difficulty</h4> 
    </div>

</div>
<div  class="ArraysAndDateStructures" >
    <a href="https://leetcode.com/problems/invert-binary-tree/">
        <h6>1</h6>
        <h6>       Invert Binary Tree        </h6>
        <h6  class="easy" >Easy</h6>
    </a>
    <a href="https://leetcode.com/problems/maximum-depth-of-binary-tree/">
        <h6>2</h6>
        <h6>        Maximum Depth of Binary Tree       </h6>
        <h6  class="easy" >Easy</h6>
    </a>
    <a href="https://leetcode.com/problems/diameter-of-binary-tree/">
        <h6>3</h6>
        <h6>Diameter of Binary Tree</h6>
        <h6  class="easy" >Easy</h6>
    </a>
    <a href="https://leetcode.com/problems/balanced-binary-tree/">
        <h6>4</h6>
        <h6>Balanced Binary Tree</h6>
        <h6  class="easy" >Easy</h6>
    </a>
    <a href="https://leetcode.com/problems/same-tree/">
        <h6>5</h6>
        <h6>         Same Tree      </h6>
        <h6  class="easy" >Easy</h6>
    </a>
    <a href="https://leetcode.com/problems/subtree-of-another-tree/">
        <h6>6</h6>
        <h6>      Subtree of Another Tree         </h6>
        <h6  class="easy" >Easy</h6>
    </a>
    <a href="https://leetcode.com/problems/lowest-common-ancestor-of-a-binary-search-tree/">
        <h6>7</h6>
        <h6>      Lowest Common Ancestor of a Binary Search Tree         </h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/binary-tree-level-order-traversal/">
        <h6>8</h6>
        <h6>      Binary Tree Level Order Traversal          </h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/binary-tree-right-side-view/">
        <h6>9</h6>
        <h6>      Binary Tree Right Side View          </h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/count-good-nodes-in-binary-tree/">
        <h6>10</h6>
        <h6>        Count Good Nodes In Binary Tree        </h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/validate-binary-search-tree/">
        <h6>11</h6>
        <h6>           Validate Binary Search Tree     </h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/kth-smallest-element-in-a-bst/">
        <h6>12</h6>
        <h6>        Kth Smallest Element In a Bst        </h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/construct-binary-tree-from-preorder-and-inorder-traversal/">
        <h6>13</h6>
        <h6>       Construct Binary Tree From Preorder And Inorder Traversal         </h6>
        <h6 class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/binary-tree-maximum-path-sum/">
        <h6>14</h6>
        <h6>      Binary Tree Maximum Path Sum          </h6>
        <h6  class="hard" >Hard</h6>
    </a>
    <a href="https://leetcode.com/problems/serialize-and-deserialize-binary-tree/">
        <h6>15</h6>
        <h6>       Serialize And Deserialize Binary Tree         </h6>
        <h6  class="hard" >Hard</h6>
    </a>
</div>


{%endblock content%}