{%extends 'base/index.html'%}
{%block content%} 

<div class="ArraysAndDateStructuresDifficulty" >
    <div>
           <h4>#</h4>
    <h4>Question</h4>
    <h4>Difficulty</h4> 
    </div>

</div>
<div  class="ArraysAndDateStructures" >
    <a href="https://leetcode.com/problems/implement-trie-prefix-tree/">
        <h6>1</h6>
        <h6>  Implement Trie Prefix Tree   </h6>
        <h6  class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/design-add-and-search-words-data-structure/">
        <h6>2</h6>
        <h6>  Design Add And Search Words Data Structure   </h6>
        <h6  class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/word-search-ii/">
        <h6>3</h6>
        <h6>  Word Search II   </h6>
        <h6 class="hard" >Hard</h6>
    </a>
</div>


{%endblock content%}