{%extends 'base/index.html'%}
{%block content%} 

<div class="ArraysAndDateStructuresDifficulty" >
    <div>
        <h4>#</h4>
    <h4>Question</h4>
    <h4>Difficulty</h4> 
    </div>

</div>
<div  class="ArraysAndDateStructures" >
    <a href="https://leetcode.com/problems/valid-palindrome/">
        <h6>1</h6>
        <h6>Valid Palindrome</h6>
        <h6 class="easy" >Easy</h6>
    </a>
    <a href="https://leetcode.com/problems/two-sum-ii-input-array-is-sorted/">
        <h6>2</h6>
        <h6>Two Sum II Input Array Is Sorted</h6>
        <h6   class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/3sum/">
        <h6>3</h6>
        <h6>Two Sum II Input Array Is Sorted</h6>
        <h6   class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/container-with-most-water/">
        <h6>4</h6>
        <h6>3Sum</h6>
        <h6   class="medium" >Medium</h6>
    </a>
    <a href="https://leetcode.com/problems/trapping-rain-water/">
        <h6>5</h6>
        <h6>Trapping Rain Water</h6>
        <h6  class="hard" >Hard</h6>
    </a>

</div>


{%endblock content%}